body{
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    font-family: Outfit, sans-serif;
}

main{
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    margin: -218px 0 0 -140px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
}

main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main h1{
    font-size: 20px;
    font-weight: 700;
    color:hsl(218, 44%, 22%)
}

main p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}